@import url("../../styles/index.css");

.main-brand {
  margin-top: 10vh;
}

.main-brand-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--theme-font-primary);

}

.main-brand-header-item a {
  color: var(--theme-font-primary);
}

.main-brand-header-item a:hover {
  color: var(--theme-font-secondary);
}

.card-brand a {
    text-decoration: none;
  }