@import url("../../styles/index.css");

.main-login {
  height: 100vh;
  background-color: var(--theme-primary);
}

.cards {
  background-color: var(--theme-secondary);
  margin-top: 20vh;
}

.card-title {
  color: var(--theme-font-primary);
}

.form-check-label {
  color: var(--theme-font-primary);
}

.d-grid button {
  background-color: var(--theme-font-secondary);
  padding: 4px 8px;
  border: 1px solid;
  color: var(--theme-font-primary);
  border-radius: 8px;
  font-weight: bold;
  float: right;
}

.d-grid button:hover {
  background-color: var(--theme-font-primary);
  border: 1px solid;
  color: var(--theme-font-secondary);
}

.signup-grid h6 {
  color: var(--theme-font-primary);
}

.signup-grid a {
  text-decoration: none;
  color: var(--theme-font-primary);
}

.signup-grid a:hover {
  color: var(--theme-font-secondary);
}
